
/* Colors: (Red) #ff1e00; (Black) #000000; (Green) #1e6e01; (Yellow) #f1c92a;*/

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Nova+Cut&display=swap');

:root{
    /* change the values below to your chosen font(s) */
    --heading-font: "Nova Cut";
    --paragraph-font: Marck Script, cursive, sans-serif;
}

/* * Header */

header{
    display: grid; 
    grid-template-columns: 200px auto;
    background-color: black;
    font-family: var(--heading-font);
    margin-bottom: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ff1e00;
}

.logo {
    width: 160px;
    padding: 30px;
}

#home_header_box{
    box-shadow: 10px 10px 30px #55f12a;
}

#handcrafts_header_box{
    box-shadow: 10px 10px 30px #f1c92a;
}

#acting_header_box{
    box-shadow: 10px 10px 30px #ff1e00;
}

#writing_header_box{
    box-shadow: 10px 10px 30px #442af1;
}

/* * Footer */

#home_footer_box{
    box-shadow: 10px 10px 30px #55f12a;
    background-color: #1e6e01;
}

#handcrafts_footer_box{
    box-shadow: 10px 10px 30px #f1c92a;
}

#acting_footer_box{
    box-shadow: 10px 10px 30px #ff1e00;
    background-color: #1e6e01;
}

#writing_footer_box{
    box-shadow: 10px 10px 30px #442af1;
    background-color: #1e6e01;
}

footer {
    padding: 25px 50px;
    margin-top: 200px; 
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 5fr 5fr 2fr;
    color: white;
    font-family: var(--heading-font);
}

footer p:nth-of-type(1) {
    grid-row: 1/3;
    grid-column: 1/2;
    align-self: center;
}

footer p:nth-of-type(2) {
    grid-row: 1/2; 
    grid-column: 2/3;
    align-self: end;
}

footer p:nth-of-type(3) {
    grid-row: 2/3; 
    grid-column: 2/3;
}

footer p:nth-of-type(4) {
    grid-row: 1/3; 
    grid-column: 3/4;
    align-self: center;
    color:#f1c92a; 
}

footer a{
    color:#f1c92a;
}
footer a:hover {
    color:#ff1e00;
}

.social{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto; 
    grid-row: 1/3;
}


#social_one {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 5px; 
}

#social_two {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    
}

#social_three {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    margin: 5px; 
}


/* * Handcrafts body */

p {
    justify-self: center;
}

body{
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    margin: 0; 
    padding:0; 
    color: black;
}

#handcrafts_body{
    background-color: #1e6e01;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0; 
    padding:0; 
    color: #f1c92a;
}

#handcrafts-title{
    background-color: #144a00;
    display: grid;
    grid-template-rows: auto auto;
    margin: 30px;
    margin-bottom: 400px;
}

#poster-img{
    grid-row: 1/2;
    min-width: 400px; 
    width: 60%;
    justify-self: center;
    margin: 50px;
}

#handcrafts-title-msg{
    margin: 50px;
    grid-row: 2/3;
}

.section_one, .section_two, .section_three, .section_four, .section_five, .section_six, .section_seven{
    display: grid; 
    grid-template-rows: auto auto;
    margin-top: 150px;
    margin: 150px;
}

#img_one, #img_two, #img_three, #img_four, #img_five, #img_six {
    min-width: 300px;
    width: 40%;
    grid-row: 1/2;
    justify-self: center;
    margin: 30px;
    margin-top: 150px;
}

.section_one p, .section_two p, .section_three p, .section_four p, .section_five p, .section_six p, .section_seven p {
    max-width: 80%;
}

.section_one {
    background-color: #016e36;
}

.section_two {
    background-color: #3d6e01;
}

.section_three {
    background-color: #5f809554;
}

.section_four {
    background-color: #6c6e0167;
}

.section_five {
    background-color: #ff1e0031;
}

.section_six {
    background-color: rgba(240, 248, 255, 0.205);
}

.section_seven {
    background-color: #0000002f;
}

/* * Acting Body */

#acting_body{
background-color: #000000;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0; 
    padding:0; 
    color: #ff1e00;
    
}

#acting-title{
    background-color: #000000;
    display: grid;
    grid-template-rows: auto auto;
    margin: 30px;
    margin-bottom: 400px;
    box-shadow: 0px 0px 30px #0000b0;
}

#forlorn-img{
    grid-row: 1/2;
    min-width: 400px; 
    width: 60%;
    justify-self: center;
    margin: 50px;
    margin-top: 100px;
}

#acting-title-msg{
    margin: 50px;
    grid-row: 2/3;
}

.acting_one, .acting_two, .acting_three{
    display: grid; 
    grid-template-rows: auto auto;
    margin-top: 150px;
    margin: 150px;
    box-shadow: 0px 0px 30px #ff1e00;
}

#mathew_img, #stache_img, #strout_img {
    min-width: 300px;
    width: 40%;
    grid-row: 1/2;
    justify-self: center;
    margin: 30px;
    margin-top: 150px;
}

.acting_one p, .acting_two p, .acting_three p {
    max-width: 80%;
}

#acting-headline-one, #acting-headline-two, #acting-headline-three {
    display: flex;
    justify-self: center;
}

#acting-headline-one p, #acting-headline-two p, #acting-headline-three p{
    color: white;
    width: 80%;
}

h3 {
    font-family: var(--heading-font)
}

#acting-subtext-one, #acting-subtext-two, #acting-subtext-three{
    color: white;
}

/* * Writing Body */

#writing_body{
    background-color: #ffffff;
        font-family: var(--paragraph-font);
        font-size: 22px;
        margin: 0; 
        padding:0; 
        color: #000000;
    }

    #writing-title{
        margin: 100px;
    }

    #writing-title-msg{
        margin: 150px;
    }

    .writing-main {
      display: block; 
    }

    #book{
        position: relative; 
        margin: auto; 
    }

    #library-img {
        margin: 2.5%;
        width: 95%;
        margin-bottom: 300px;
    }

    .bttn {
        width: 50px;
        height: 50px;
        color: blue;
        font-size: 20px;
        background-color: white;
    }

    .bttn:hover {
        background-color: rgba(0,0,0,0.8);
    }

    #prev_button { 
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        
    }

    #next_button {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;

        right: 10px;
        border-radius: 3px 0 0 3px;
    }

    #prev_button:hover, #next_button:hover {
        background-color: rgba(0,0,0,0.8);
    }


    #img-box {
        width: 100%; 
    }

    #one {
        width: 80%;
        margin: 10%;
        max-width: 800px;
        display:block; 
        margin: 0 auto; 
    }

    #poem-title {
        text-align: center;
    }

.poem-img{
    display:block; 
    width: 60%;
    text-align: center;
}

    #gallery {
        justify-content: center;
    }

    /* * Home Body */

    #divider{
        margin: 300px;
    }

    #divider_two{
        margin: 150px; 
    }

    #home-title{
        margin: 100px;
    }

    #home-title-msg{
        margin: 150px;
    }

    #timeline-title{
        font-size: 80px;
        font-family: var(--paragraph-font);
        color: #ff8543;
        display: block; 
        text-align: center;


    }

/* Button code starts here */

#gallery{
    margin: 0px auto; 
    margin-bottom: 200px;
}

.btn{
    border: none;
    outline: none; 
    background: rgb(255, 255, 255);
    padding: 10px 30px; 
    cursor: pointer; 
    margin: 10px auto;
}

/* * Timeline component */

* {
    box-sizing: border-box;
  }
  
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto; 
  }
  
  /* The actual timeline (the vertical ruler) */

  /* ! I have commented out the following text, as it only makes a partial line. */
  /* .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(255, 229, 207);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  } */
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

  /* *Slideshow Component */

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; 
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* * And of course, some changes for mobile devices */

@media screen and (max-width: 900px) {

    #header {
        display: block;
    }

    nav p {
        display: none;
    }

    nav {
        display:block;
        flex-direction: column;
    }

    .section_one, .section_two, .section_three, .section_four, .section_five, .section_six, .section_seven{
        margin: 30px;
    }

    nav a{
        display: block;
        padding: 15px;
        margin-left: 10%;
    }

    #img_one, #img_two, #img_three, #img_four, #img_five, #img_six {
        margin-top: 50px;
    }

    .social {
        display: flex; 
        justify-content: space-evenly;
    }

    .logo{
        width: 80px;
        padding: 5px;
    }

    footer {
        display: block;
    }

    /* Why cant I find a way to format everything else here? */
    #footer_paragraph p {
        text-justify: center;
    }

    #footer_one, #footer_two, #footer_three, #footer_four {
        text-align: center;
    }
    
    #acting-headline-one, #acting-headline-two, #acting-headline-three {
        display: block;
        justify-self: center;
    }

    .acting_one, .acting_two, .acting_three{
        margin: 30px;
        margin-top: 100px;
        box-shadow: 0px 0px 15px #ff1e00;
    }

    #writing-title {
        margin: 10px;
    }

    #writing-title {
        margin: 30px;
    }

    /* Lets change some stuff */

    .writing-main {
        display:block; 
    }

    #library-img {
        width: 95%; 
        margin: 2.5%;
        
    }

    #second_button {
        width: 50px; 
    }

    .btn {
        width: 50px;
        height: 50px;
    }

    #img-box {
        width: 100%; 
    }

    #poem-title {
        text-align: center;
    }

    #home-title{
        margin: 10px;
    }

    #home-title-msg{
        margin: 15px;
    }

}
